<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Home
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#/countries" class="m-nav__link">
						<span class="m-nav__link-text">
							Countries
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							{{data.name}}
						</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" *ngIf="data.id">
                        Edit : {{data.name}}
                    </h3>
                    <h3 class="m-portlet__head-text" *ngIf="!data.id">
                        New Country
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--state m-form--fit m-form--label-align-right"
              (ngSubmit)="onSubmit(mForm)" #mForm="ngForm"
              id="m_form_2">
            <div class="m-portlet__body">
                <div class="m-form__content">
                    <div class="m-alert m-alert--icon alert alert-warning" *ngIf="mForm.submitted && mForm.invalid"
                         role="alert" id="m_form_2_msg">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text">
                            Oh snap! Change a few things up and try submitting again.
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row"
                     [ngClass]="{'has-danger':mForm.submitted && name.hasError('required') || (name.touched && name.hasError('required'))}">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Name *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input [(ngModel)]="data.name" type="text" class="form-control m-input" name="name"
                               placeholder="Enter country name" required #name="ngModel">
                        <div *ngIf="mForm.submitted && name.hasError('required') || (name.touched && name.hasError('required'))"
                             class="form-control-feedback">
                            required.
                        </div>
                    </div>

                </div>

                <div class="form-group m-form__group row"
                     [ngClass]="{'has-danger':mForm.submitted && country_code.hasError('required') || (country_code.touched && title.hasError('required'))}">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Code *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input [(ngModel)]="data.country_code" type="text" class="form-control m-input"
                               name="country_code"
                               placeholder="Enter country country_code" required #country_code="ngModel">
                        <div *ngIf="mForm.submitted && country_code.hasError('required') || (country_code.touched && country_code.hasError('required'))"
                             class="form-control-feedback">
                            required.
                        </div>

                    </div>

                </div>

                <div class="form-group m-form__group row">

                    <label class="col-3 col-form-label">
                        Status
                    </label>
                    <div class="col-3">
						<span class="m-switch m-switch--lg m-switch--icon">
							<label>
                               <input [(ngModel)]="data.status" type="checkbox"
                                      checked="checked" name="verified">
                                <span></span>
                            </label>
						</span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="submit" class="btn btn-accent">
                                Save
                            </button>
                            <a routerLink="/countries" type="reset" class="btn btn-secondary">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>
